body{
    background-color: brown;
}

h1{
    text-align: center;
    color: white;
    border-style: solid;
    border-color: beige;
}

p{
    text-align: center;
    color: white;
}

iframe{
    width: 500px;
    height: 300px;
    border: 5px;
    border-style: double;
    border-color: blue;
}
